<div id="<%= dom_id agrovet %>">
  <p>
    <strong>Name:</strong>
    <%= agrovet.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= agrovet.location %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= agrovet.owner_name %>
  </p>

  <p>
    <strong>Owner phone:</strong>
    <%= agrovet.owner_phone %>
  </p>

  <p>
    <strong>Owner email:</strong>
    <%= agrovet.owner_email %>
  </p>


</div>
