<div id="<%= dom_id data_entry %>">
  <p>
    <strong>Agrovet:</strong>
    <%= data_entry.agrovet_id %>
  </p>

  <p>
    <strong>Product 1 quantity:</strong>
    <%= data_entry.product_1_quantity %>
  </p>

  <p>
    <strong>Product 2 quantity:</strong>
    <%= data_entry.product_2_quantity %>
  </p>

  <p>
    <strong>Product 3 quantity:</strong>
    <%= data_entry.product_3_quantity %>
  </p>

  <p>
    <strong>Product 4 quantity:</strong>
    <%= data_entry.product_4_quantity %>
  </p>

  <p>
    <strong>Money paid:</strong>
    <%= data_entry.money_paid %>
  </p>

  <p>
    <strong>Money owed:</strong>
    <%= data_entry.money_owed %>
  </p>

</div>
